
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-route="trangchu">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Thư viện </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-route="trangchu">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" asp-route="docgia"  >
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý độc giả</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" asp-route="taikhoan">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Quản lý tài khoản</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link"  asp-route="nhanvien">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý Nhân viên</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" asp-route="dausach">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Quản lý đầu sách</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" asp-route="sach">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý sách</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Xử lý</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-route="nhacungcap">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý nhà cung cấp</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-route="nhapsach">
            <i class="fas fa-fw fa-table"></i>
            <span>Nhập sách</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-route="thongke">
            <i class="fas fa-fw fa-table"></i>
            <span>Thống kê</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>