
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lô</title>
    <h2>Hùng nè</h2>
</head>
<body>
</body>
</html>
